
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Jumbotron Template for Bootstrap</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
    .content{
      margin: 0 auto;
  margin-top: 100px;
  float: none !important;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
      </div>
    </nav>
    <div class="row">

      <div class="col-md-8 content">


    <form action="/ticket" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Subject</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="subject" placeholder="Subject">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea name="description" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
  </div>
  </div>
    </div> <!-- /container -->
  </body>
</html>
